
nav {
    background-color: rgba(29, 185, 84, 0.5);
}

body {
    background-image: url('/img/spotify.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 300px;
}

.btn-spotify {
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    background-color: rgb(29, 185, 84);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.estilo_logo {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #343a40; 
    padding: 5px;
    margin-top: 50px;
}

.tamanho_logo {
    width: 50px;
    height: 50px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {

    .sair {
        display: none;
    }

    .btn-spotify {
        margin-top: 5px;
        padding: 10px;
    }
    
    h5 {
        display: none;
    }

    footer {
        margin-top: 20px;
        width: 100%;
      }
    
}

